{% extends "base.html" %}

{% block title %}Сайты{% endblock %}

{% block content %}

{% include "partials/flash.html" %}

<div style="width: 60%; margin: auto;">
    <p class="display-6">Сайт: {{ url.name }}</p> 
    <table class="table table-sm table-bordered" data-test="url">
        <tbody>
        <tr>
            <th scope="col">ID</th>
            <td>{{ url.id }}</td>
        </tr>
        <tr>
            <th scope="col">Имя</th>
            <td>{{ url.name }}</td>
        </tr>
        <tr>
            <th scope="col">Дата создания</th>
            <td>{{ url.created_at }}</td>
        </tr>
        </tbody>
    </table>
</div>

{% include "partials/checks.html" %}

{% endblock %}