{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="h-100 p-5 bg-body-tertiary border rounded-3" style="width: 60%; margin: auto;"> 
    <h2>Анализатор страниц</h2> 
    <p>Бесплатно проверяйте сайты на SEO-пригодность</p>
    <form class="d-flex" role="search"> <input class="form-control me-2" type="search" placeholder="https://example.com" aria-label="Сайт"> <button class="btn btn-primary" type="submit">ПРОВЕРИТЬ</button> </form>
</div>
{% endblock %}