{% extends "base.html" %}

{% block title %}Сайты{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.0 == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show" style="width: 60%; margin: 10px auto;" role="alert">
                {{ message.1 }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

    <p class="display-6">Сайты</p> 
    <table class="table table-sm table-bordered" data-test="urls">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Имя</th>
            <th scope="col">Последняя проверка</th>
            <th scope="col">Код ответа</th>
        </tr>
        </thead>
        <tbody>
        {% for url in urls %}
        <tr>
            <td>{{ url.id }}</td>
            <td><a href="{{ url_for('get_url', id=url.id) }}">{{ url.name }}</a></td>
            <td>{{ url.last_created_at |default('', True) }}</td>
            <td>{{ url.last_status_code |default('', True) }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}